*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #9C1DE7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px !important;
    height: 450px !important;
    padding: 15px;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 0.5px solid rgba(0, 0, 0, 0.252);
    border-radius: 10px;
}
h2{
    margin-top: 12px;
    margin-bottom: 50px;
    text-align: center;
}
.row-1{
    margin: 20px;
}
.row{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.generate{
    width: 100%;
    height: 50px;
    background-color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
    color: black;
}
#total-char{
    width: 40px;
    border: transparent;
    border-radius: 3px;
    padding: 3px;
}
input{
    width: 20px;
    accent-color: skyblue;
}
.btn{
    width: 100%;
    padding: 15px;
    border: transparent;
    border-radius: 5px;
    color: blueviolet;
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 14px;
   
}
.btn:hover{
    cursor: pointer;
    opacity: 0.9;
}